* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}


.lb-bg-color{
    background: #ECF1F8;
    background: linear-gradient(180deg, white, #ECF1F8);
    padding-bottom: 120px;
}

.green_nav {
    background-color: #7A9C49;
}

.primary-white {
    color: #F2F2F2;
}


.green_nav p {
    margin-bottom: 0;
}

/* first banner  */

.first-banner {
    background-image: url(../images/banner_first_bg.png);
    background-size: cover;
    min-height: 900px;
}

.banner-text {
    max-width: 801px;
}

.fs-60 {
    font-size: 60px;
}

.fs-24 {
    font-size: 26px;
}

.image-center {
    transform: translateY(-37%);
}

.mh-image {
    height: 150px;
}

.border-radius-tl-tr {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid white;
    border-bottom: 25px solid transparent;
}


.get-free-access {
    background: linear-gradient(to bottom, #FFA300 3%, #FF7A00 100%);

}

.underline {
    text-decoration: underline;
}

.n-underline {
    text-decoration: none;
}

.text-line-through {
    text-decoration: line-through;
}

.lb-color {
    background-color: #ecf2fd;
}

.foundation {
    color: #1F1F1F;
}

.border-right {
    border-right: 1px solid lightgray;
}

.border-left {
    border-left: 1px solid lightgray;
}

.shadow-inset {
    box-shadow: inset -18px 0 20px -20px rgba(0, 0, 0, 0.2);
}

.shadow-outset {
    box-shadow: 20px 0 51px -40px rgba(0, 0, 0, 0.2);
}
.get-start {
    color: #FFA300;
    border-color: #FFA300 !important;
}

.get-start-bg {
    background-color: #FFA300;
    color: white;
}

.get-start-box{
    background-color: white !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 16px !important;
}

.privacy-policy {
    color: black;
}

.support {
    color: gray;
}

.max-content {
    /* min-width: max-content; */
    display: inline;
}

/* media Queries CSS  */

.for-widescreen {
    display: block;
}

@media screen and (max-width: 575px) {
    .fs-60 {
        font-size: 40px;
    }

    .first-banner {
        min-height: 630px;
    }
}